* {
  margin: 0;
  padding: 0;
}



.header-container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
}

.page-nav {
  display: inline-block;
}

.navigation {
  margin-left: 560px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.navigation li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
  margin-left: 30px; 
}

.product {  
  margin-top: 106px;
  margin-bottom: 126px;
  margin-left: 600px;
  text-align: center;
}

.product:after {
  content: "";
  background-color: #4ec6ab; 
  width: 164px;
  height: 4px;
}

.a1 {
  display: inline-block;
}

.np1{
  display: inline;
}

.n1:after{
  content: "35$";
  color: #ffffff;
  background-color: #8c8c8c;
  width: 134px;
}

.n1{
  color: #ffffff;
  background-color:#323232 ;
  width: 121px;
}

