* {
  margin: 0;
  padding: 0;
}

.container{
  width: 1110px;
  margin: 0 auto;  
}

.page-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0 111px 0;
}

.logo{
display: inline-block;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 21px;
color:gray;
}

.logo::first-letter {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #4ec6ab;
  text-transform: uppercase;
}

.navigation{
  width: 467px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navi_icon{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.navi_icon:hover,
.navi_icon:focus {
  color: rgba(26, 188, 156, 255);
  
}

.titlse{
  width: 572px;
  height: 73px;
  margin: 0 auto;
}

.info_1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 900;
  color: #515151;
}


.info_1::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin: 0 auto;
  margin-top: 66px;
}

.products {
  list-style: none;
  width:1110px;
  height: 691px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 131px;
}

.products li {
  width: 255px;
  display: block;
}

.products a {
  text-transform: uppercase;
  text-decoration: none;

}
.description{
  margin-top:-4px;
  font-size: 0;
}
.name {
  display: inline-block;
  padding: 14px 0 13px 0px;
  width: 200px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background-color: #323232;
  color: white;

}

.price {
  display: inline-block;
  padding: 14px 0 13px 0;
  width: 55px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
}
.link:hover .name {
  background-color: #1abc9c;
}

.link:hover  .price {
  background-color: #7fd9c7;
}

.footer ul {
  list-style: none;
  width:1112px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer li{
  width: 350px;
  display: inline-block;
}

.titlse_2{
  width: 363px;
  height: 73px;
  margin: 0 auto;
  margin-bottom: 75px;
  margin-top: 105px;
}

.info_list_name{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 900;
  color: #515151;
  text-align: center;
}

.info_list_name::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin: 0 auto;
  margin-top: 32px;
}

.footer{
  width: 1110px;
  height: 715px;
  margin: 0 auto;
  margin-bottom: 81px;

}

.footer-p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #555252;
  padding: 14px 0 32px 0;
  position: relative;
}

.footer-p::after {
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin-top: 11px;
}

.footer-p1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #555252;
  padding-bottom: 20px;
}

.button {
  border: none;
  border-radius: 3px;
  padding: 18px 42px;
  background-color: #4ec6ab;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.info_list{
  position: relative;
  width: 1112px;
  margin: 0 auto;
  top: 76px;
}

