@import './normalize';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
$mont: 'Montserrat', sans-serif;
$hovcol: #fad989;
$rob: 'Roboto', sans-serif;
$blue: #95e1d3;
$wh: white;
$hovcol2: #f6a6a6;
$hovcol3: #fce38a;
$mwh: #d0d0d0;
$grey: #484848;
$trans: rgba(245, 253, 169, 0);
$shadow: rgba(149,225,211,1);


.header {
  position: relative;
  background-image: url(../images/eagle@1x.png);
  margin-bottom: 50px;
}

@media  (-webkit-mindevice-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .header {
    background-image: url(../images/eagle@2x.png);
  }
}
