* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: reletive;
    width: 1110px;
    margin: 0 auto;
  }
  
  .logo {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .logo_1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .logo::first-letter{
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  
  .page-nav {
    display: inline-block;
  }
  
  .navigation {
    width: 467px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 38px;
    margin-left: 545px;
  }
  
  .navigation li {
    list-style-type: none;
  }

.content{
  position: relative;
  background-image: url(./img/slide4@1X.png);
  padding: 5px;
  border: solid 1px white; 
  padding-top: 267px;
  padding-bottom: 255px;
  background-repeat: no-repeat;
}

.tour{
  width: 900px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 30pt;
  text-align: center;
  position: relative;
}
 
.mid{
  width: 1519px;
  height: 706px;
  background-color: #e9f0fd;
  position: relative;
}

.name{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48pt;
  color: #515151;
  padding: 101px;
}
  
.name:after{
  content:"";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: auto;
  margin-top: 32px;
}

footer{
  background-color: #323232;
  width: 1519px;
  height: 88px;
  padding: 1px;
}

.creator{
  color: #eaeaea;
  font-size: 16pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 32px;
  margin-bottom: 32px;
}

.creator:after{
  content: "ThemenGraph";
  color: #46bfa9;
}

.nav{
  text-decoration: none;
  color: #0f0101;
}

.nav:hover{
  color: #1abc9c;
}

.tour2{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  font-weight: 100;
  color: #ffffff;
  left: 449px;
  top: 10px;
  width: 467px;
}

.slaider-ctrl{
  position: absolute;
  border: none;
  display: inline-block;
  height: 104px;
  width: 104px;
  background-color: #1abc9c;
}

.slaider-prev{
  left: 0;
  top: 60%;
  transform: translateY(-90%);
  left: 17%;
}

.slaider-next{
  right: 0;
  top: 60%;
  transform: translateY(-90%);
  right: 17%;
}

button{
  font-size: 60pt;
  color: #ffffff;
}

.opisanie_1 {
  font-size: 0;
}

.tovar_1 {
  display: inline-block;
  width: 200px;
  padding-left: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  background-color: #323232;
  color: white;

}

.cena_1 {
  display: inline-block;
  padding: 13px 0 13px 0;
  width: 55px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
}

.opisanie_2 {
  font-size: 0;
}

.tovar_2 {
  display: inline-block;
  width: 200px;
  padding-left: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  background-color: #323232;
  color: white;

}

.cena_2 {
  display: inline-block;
  padding: 13px 0 13px 0;
  width: 55px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
}

.opisanie_3 {
  font-size: 0;
}

.tovar_3 {
  display: inline-block;
  width: 200px;
  padding-left: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  background-color: #323232;
  color: white;

}

.cena_3 {
  display: inline-block;
  padding: 13px 0 13px 0;
  width: 55px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
}

.opisanie_4 {
  font-size: 0;
}

.tovar_4 {
  display: inline-block;
  width: 200px;
  padding-left: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  background-color: #323232;
  color: white;

}

.cena_4 {
  display: inline-block;
  padding: 13px 0 13px 0;
  width: 55px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  background-color: #8c8c8c;
  color: white;
  text-align: center;
}

.card{
  display: inline-block;
  width: 256px;
  bottom: 30px;
}

.overlay_1{
  position: absolute;
  width: 235px;
  height: 262px;
  background-color: #323232;
  opacity: 0;
  top: 13px;
  left: 10px;
}

.overlay-icon_1{
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 78px;
  left: 34px;
  border: solid 2px;
  border-color: #ffffff;  
}

.butt_1{
  width: 50px;
  height: 50px; 
  background-image: url(./img/1@1X_1.png);
  background-repeat: no-repeat;
  background-position: top 14px left 12px;
}

.overlay-icon_2{
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #323232;
  top: 78px;
  left: 94px;
  border: solid 2px;
  border-color: #ffffff;
}

.butt_2{
  width: 50px;
  height: 50px; 
  background-image: url(./img/2@1X_2.png);
  background-repeat: no-repeat;
  background-position: top 14px left 13px;
}

.overlay-icon_3{
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #323232;
  top: 78px;
  left: 154px;
  border: solid 2px;
  border-color: #ffffff;
}

.butt_3{
  width: 50px;
  height: 50px; 
  background-image: url(./img/3@1X_3.png);
  background-repeat: no-repeat;
  background-position: top 12px left 12px;
}

.overlay-icon_4{
  position: absolute;
  display: inline-block;
  width: 170px;
  height: 50px;
  background-color: #323232;
  top: 136px;
  left: 34px;
  border: solid 2px;
  border-color: #ffffff;
}

.butt_4{
  width: 50px;
  height: 50px; 
  background-image: url(./img/4@1X_4.png);
  background-repeat: no-repeat;
  background-position: top 12px left 11px;
}

.card:hover .overlay_1{
  opacity: 0.50;
} 

.card:hover .tovar_1{
  background-color: #1abc9c;
}

.card:hover .cena_1{
  background-color: #7fd9c7;
}

.card:hover .overlay_1{
  opacity: 0.50;
} 

.card:hover .tovar_2{
  background-color: #1abc9c;
}

.card:hover .cena_2{
  background-color: #7fd9c7;
}

.card:hover .overlay_1{
  opacity: 0.50;
} 

.card:hover .tovar_3{
  background-color: #1abc9c;
}

.card:hover .cena_3{
  background-color: #7fd9c7;
}

.card:hover .overlay_1{
  opacity: 0.50;
} 

.card:hover .tovar_4{
  background-color: #1abc9c;
}

.card:hover .cena_4{
  background-color: #7fd9c7;
}

.vosmojmost{
  position: absolute;
  right: 16px;
  left: 59px;
  top: 18px;
  bottom: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.spisok{
  position: relative;
  width: 1110px;
  height: 331px; 
  margin: 0 auto;
  bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.itemimg{
  display: block;
  width: 100%;
  height: auto;
}

.overlay-icon_1:hover{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.overlay-icon_2:hover{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.overlay-icon_3:hover{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.overlay-icon_4:hover{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.sl1{
  position: absolute;
  left: 42px;
  top: 30px;
  right: 40px;
  bottom: 35px;
}

.sl2{
  position: absolute;
  right: 42px;
  top: 30px;
  left: 40px;
  bottom: 35px;
}