* {
    margin: 0;
    padding: 0;
}

.color{
    width: 100%;
    height: 100vh;
}

.link {
    color:black
}
.link:hover {
    color:blue
}

.list {
    text-decoration: none;
}

img, h1 {
    display: block;
}

.navigation {
    width: 573px;
    padding-top: 75px;
    padding-bottom: 104px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.navigation li{
    display:block;
    list-style-type: none;
}

.nav_1{
    width: 97px;
}

.nav_2{
    width: 119px;
}

.nav_3{
    width: 59px;
}

.nav_4{
    width: 71px;
}

main{
    width: 902px;
    height: 1704px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.f{ 
    margin-top: 80px;
    margin-bottom: 105px;
    margin-left: 100px; 
}

.section{
    display:inline-block;
    width: 422px; 
}

.f1{
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f2{
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
}
.f3{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f4{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f5{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f6{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

footer{
    height: 95px;
    width: 1519.200px;
}

.LM{
    width: 164px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 70px;
    background-color: #ffffff;
    border: 1px solid;
    font-family: 'PlayFair', serif;
    font-size: 17px;
    
} 

p{
    margin-top: 41px;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    color: #626262;
}

.text{
    margin-top: 41px;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    color: #626262;
}

h2{
    margin-top: 31px;
    font-family: 'Playfair Display', serif;
    font-size: 25pt;
    color: #626262;
    font-weight: 400;
}

a{
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    font-weight: 300px;
    color: #626262;
    text-decoration: none;
}

a:hover{
    color: #03a9f4;
}

.head_contanier{
    width: 900px;
    margin: 0 auto;
}