* {
    margin: 0;
    padding: 0;
}

.color{
    width: 100%;
    height: 100vh;
}

.link {
    color:black
}
.link:hover {
    color:blue
}

.list {
    text-decoration: none;
}

img, span {
    display: block;
}

.navigation {
    margin-top: 75px;
    margin-bottom: 104px;
    text-align: center;
}
.navigation li{
    display:inline-block;
    list-style-type: none;
    margin-right: 60px;
    margin-left: 60px; 
}

.f{ 
    margin-top: 80px;
    margin-bottom: 105px;
    margin-left: 100px; 
}
.section{
    display:inline-block;
    width: 422px; 
    margin: 7px;
    margin-bottom: 105px;
    margin-left: 200px;
    padding: 1px; 
}
.f2{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
}
.f3{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f4{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f5{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

.f6{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 0px; 
    text-align: center;
}

footer{
    height: 95px;
    width: 1519.200px;
}

.LM{
    border: 2px solid #626262; 
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 77px;
    margin-bottom: 77px;
    margin-left: 649.6px;
    margin-right: 649.6px;
}

p{
    margin-top: 41px;
    font-family: PlayfairDisplay-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(98, 98, 98, 255);
}

h2{
    margin-top: 31px;
    font-family: PlayfairDisplay-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 25pt;
    color: rgba(98, 98, 98, 255);
    font-weight: 400;
}

span{
    margin-top: 31px;
    font-family: Ubuntu-Light, AdobeInvisFont, MyriadPro-Regular;
    font-weight: 300;
    color: rgba(180, 173, 158, 255);
}

a{
    font-family: PlayfairDisplay-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14pt;
    font-weight: 300px;
    color: rgba(98, 98, 98, 255);
}