@import './normalize';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
$mont: 'Montserrat', sans-serif;
$hoverorange: #fad989;
$rob: 'Roboto', sans-serif;
$kaushan: 'Kaushan Script', cursive;
$aqua: #95e1d3;
$wh: white;
$hoverpink: #f6a6a6;
$hoveryellow: #fce38a;
$gmilk: #d0d0d0;
$grey: #484848;
$trans: rgba(245, 253, 169, 0);
$shadow: rgba(149,225,211,1);

.header {
  background-image: url(../images/Layer15@1X.png);
  margin-bottom: 50px;
}

@media  (-webkit-mindevice-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .header {
    background-image: url(../images/Layer15@2X.png);
  }
}

.header__img {
  background-image: -webkit-linear-gradient( 315deg, rgba(252, 59, 59, 0.7) 0%, hsla(338.33, 97.06%, 43.22%, 0) 70%), -webkit-linear-gradient(65deg, rgba(245, 253, 169, 1) 10%, hsla(49.48, 96.24%, 47.16%, 0) 80%), -webkit-linear-gradient(135deg, rgba(252, 59, 59, 0.7)  15%, hsla(356.84, 99.13%, 45.5%, 0) 80%), -webkit-linear-gradient(205deg, rgba(245, 253, 169, 0.5) 100%, hsla(38.24, 94.67%, 42.95%, 0) 70%);
  background-image: -o-linear-gradient( 315deg, rgba(252, 59, 59, 0.7) 0%, hsla(338.33, 97.06%, 43.22%, 0) 70%), -o-linear-gradient(65deg, rgba(245, 253, 169, 1) 10%, hsla(49.48, 96.24%, 47.16%, 0) 80%), -o-linear-gradient(135deg, rgba(252, 59, 59, 0.7)  15%, hsla(356.84, 99.13%, 45.5%, 0) 80%), -o-linear-gradient(205deg, rgba(245, 253, 169, 0.5) 100%, hsla(38.24, 94.67%, 42.95%, 0) 70%);
  background-image: linear-gradient( 135deg, rgba(252, 59, 59, 0.7) 0%, hsla(338.33, 97.06%, 43.22%, 0) 70%), linear-gradient(25deg, rgba(245, 253, 169, 1) 10%, hsla(49.48, 96.24%, 47.16%, 0) 80%), linear-gradient(315deg, rgba(252, 59, 59, 0.7)  15%, hsla(356.84, 99.13%, 45.5%, 0) 80%), linear-gradient(245deg, rgba(245, 253, 169, 0.5) 100%, hsla(38.24, 94.67%, 42.95%, 0) 70%);
  width: 100%;
  height: 1000px;
}

.navig{
  width: 1200px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 164px;
  &__logo{
    font-family: $mont;
    color: $wh;
    font-size: 18pt;
    height: 23px;
    margin-top: 9px;
  }
  &__list{
    width: 620px;
    height: 29px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;  
  }
} 

.nav{
  text-decoration: none; 
  font-family: $mont;
  color: $wh;
  text-transform: uppercase;
  &:hover{
    color: $hoveryellow;
  }
  &::after {
    display: block;
    content: '';
    height: 3px;
    background-color: transparent;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-top: 0;
  }
  &:hover::after, &:focus::after {
    background-color: $hoveryellow;
    margin-top: 12px;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }  
}
.nav_link--svg::after {
  display: block;
  content: '';
  height: 3px;
  background-color: transparent;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  margin-top: 0;
}

.navig__icon--svg path {
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.navig__icon--svg:hover path {
  fill: $hoveryellow;
}

.head__titlse{
  width: 802px;
  height: 377px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 126px;
}

.head__title{
  font-family: $kaushan;
  font-weight: 400;
  color: $wh;
  text-align: center;
  font-size: 72px;
  margin: 0px;
}

.head__subtitle{
  font-family: $mont;
  font-weight: 700;
  color: $wh;
  font-size: 108px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.head__button{
  width: 160px;
  height: 40px;
  border: solid 4px $wh;
  background: transparent;
  font-family: $mont;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: $wh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.head__button:hover, .head_button:focus {
  color: $hoveryellow;
  width: 168px;
  height: 42px;
  border: 3px solid $hoveryellow;
}

/* TEAM-CONTENT */

.content{
  &__titlse{
    width: 322px;
    height: 114px; 
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 46px; 
  }
  &__titlew{
    font-family: $kaushan;
    font-weight: 400;
    font-size: 24pt;
    text-align: center;
    margin: 0;
  }
  &__name{
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-family: $mont;
    font-weight: 700;
    font-size: 23pt;
  }
  &__list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    padding-top: 66px;
    width: 1142px;
    margin: 0 auto;
  }
  &__line{
    display: block;
    content: '';
    height: 3px;
    width: 60px;
    background-color: $hoverpink;
    margin: 0 auto;
  }

  &__li{
    width: 320px;
    padding-left: 50px;
    margin-bottom: 102px;
    position: relative;
  }
  &__text{
    font-family: $rob;
    font-weight: 400;
    color: $gmilk;
    line-height: 24px;
  }
  &__title{
    font-family: $mont;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  &__img{
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main_content:nth-child(n+4){
  margin-bottom: 92px;
}

.titlse_3{
  width: 260px;
  height: 147px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title_2{
  font-family: $kaushan;
  font-weight: 400;
  font-size: 24pt;
  text-align: center;
  margin: 0;
}

.content_name_2{
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-family: $mont;
  font-weight: 700;
  font-size: 22pt;
  &::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: $hoverpink;
    margin: 0 auto;
    margin-top: 42px;
  }
}
.work{
  width: 1213px;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  &__container{
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    position: relative;
    &:hover{
      -webkit-box-shadow: 10px 10px 0 0 $aqua;
      box-shadow: 10px 10px 0 0 $aqua;
      opacity: 1;
      -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
      transform: translate(-10px, -10px);
    }
  }
}

.work__container:hover .worker__menu{
  opacity: 1;
}

.worker__img{
  margin-bottom: -4px;
}

.worker__menu{
  position: absolute;
  opacity: 0;
  width: 384px;
  height: 474px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 138, 138, 0.7)), to(rgba(238, 214, 135, 0.7)));
  background: -webkit-linear-gradient(rgba(239, 138, 138, 0.7), rgba(238, 214, 135, 0.7));
  background: -o-linear-gradient(rgba(239, 138, 138, 0.7), rgba(238, 214, 135, 0.7));
  background: linear-gradient(rgba(239, 138, 138, 0.7), rgba(238, 214, 135, 0.7));
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  &--list{
    width: 224px;
    margin: 0 auto;
    padding: 0;
    padding-top: 207px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &--item{
    width: 55px;
    height: 56px;
    background-color: $hoveryellow;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: $hoverpink;
    }  
  }
}

.worker__menu--item:hover .ul__li--link path {
  fill: $wh;
}

.worker_icon path{
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  padding: 15px 20px 15px 23px;
}

.worker__name{
  font-family: $mont;
  font-weight: 400;
  font-size: 14pt;
  color: $trans;
  text-align: center;
  text-transform: uppercase;
}

.worker__work{
  font-family: $rob;
  font-weight: 300;
  font-size: 12pt;
  color: $grey;
  text-align: center;
  text-transform: uppercase;
}

footer{
  width: 1200px;
  top: 632px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

hr{
  width: 1200px;
}

.footer__text{
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  &--date {
    display: inline-block;
    font-family: $mont;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
  &--item {
    display: inline-block;
    font-family: $rob;
    font-weight: 400;
    font-size: 16px;  
    color: $hoverpink;
    margin: 0;
  }
}


.inputer{
  width: 327px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search {
  border: 1px solid $gmilk;
  padding: 12px;
}

.talest {
  border: 0.5px solid $aqua;
  display: inline-block;
  font-family: $mont;
  font-weight: 700;
  padding: 12px 33px;
  background-color: $aqua;
  color: $wh;
  text-transform: uppercase;
  cursor: pointer;
}    

